<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <div class="container">
        <div class="user-info">
            <a href="/auth/logout" class="button">Logout</a>
        </div>
        <div class="header">
            <h1>Welcome, <%= user.display_name %>!</h1>
        </div>
        <div class="content">
            <div class="profile-info">
                <img id="profile-picture" src="<%= user.profile_picture %>" referrerPolicy="no-referrer" alt="Profile Picture" onerror="src='/images/default-profile.png';">
                <h2><%= user.display_name %></h2>
                <p>Email: <%= user.email %></p>
                <a href="/playlists" class="button">View Playlists</a>
            </div>
        </div>
    </div>
</body>
</html>